      - name: Cache ccache (Clang 20)
        uses: hendrikmuhs/ccache-action@v1.2
        with:
          verbose: 1
          max-size: 2G
          key: ladybird-ccache-clang20-v5-${{ runner.os }}-${{ hashFiles('**/CMakeLists.txt,vcpkg.json,vcpkg-configuration.json') }}
          restore-keys: |
            ladybird-ccache-clang20-v5-${{ runner.os }}-